.form-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
  margin-left: 10%;
}

.btn-back {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  background: #888787da;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0;
}

.btn-back:hover {
  background: #e58e2a;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(245, 158, 11, 0.3);
}

.btn-back img {
  width: 26px;
  height: 26px;
  filter: brightness(0) invert(1);
}

.header-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-icon {
  width: 32px;
  height: 32px;
  padding: 5px;
  background: #f7a440;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title h2 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.header-title p {
  margin: 0;
  color: #777;
  font-size: 14px;
}

.form-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  border: 1px solid #e7e7e7;
  width: 80%;
  margin-left: 10%;
}

.section-title {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0px 20px 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  margin-top: 10px;
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 10px 12px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
  background: #fafafa;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #c00000;
  background: #fff;
}

.form-group small {
  font-size: 12px;
  margin-top: 4px;
  color: #888;
}

.error-text {
  color: #c00000;
  font-size: 13px;
  margin-top: 6px;
  display: block;
}

.help-text{
  color: #888;
  font-size: 13px;
  margin-top: 6px;
  display: block;
}

.input-error {
  border-color: #c00000 !important;
  box-shadow: 0 0 0 3px rgba(192,0,0,0.06);
}

.acciones {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 25px;
}

.btn-cancelar {
  background: #e0e0e0;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-cancelar:hover {
  background: #cfcfcf;
}

.btn-guardar {
  background: #e58e2a;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.btn-guardar img {
  width: 18px;
  height: 18px;
  filter: brightness(0) invert(1);
}

.btn-guardar:hover {
  background: #ffba65;
}
